---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout title="thomasgormley.dev">
  <header class="border-b-2 pb-1 mb-4 border-b-orange-600">
    <a href="/">
      <h1 class="text-2xl font-bold">thomasgormley.dev</h1>
    </a>
  </header>

  <main>
    <p class="lowercase font-medium">software engineer based in London.</p>
    <p class="lowercase font-medium">
      implementing intelligent communications at
      <Link href="https://firstup.io">Firstup</Link>.
    </p>
  </main>

  <footer class="mt-16 flex flex-col gap-">
    <Link href="mailto:thomas@thomasgormley.dev">
      thomas@thomasgormley.dev
    </Link>
    <Link href="github.com/thomasgormley"> github.com/thomasgormley </Link>
  </footer>
</Layout>
